@{
    Layout = "_Layout";
}
<div class="row">
    <div class="p-adress">
        <div class="p-head">
            adres bilgileri
        </div>
       
    </div>
    <div class="p-payment">
        ödeme seçenekleri
    </div>
</div>
