html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
img {
    display: block !important;
    visibility: visible !important;
}
.cart-container {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}
.user-card {
    display: none;
    width: 250px;
    right: 10px;
    top: 60px;
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1000;
}
.siparis-listesi {
    margin-top: 20px;
}

.siparis-kutusu {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    background: #fff;
}

.siparis-ust {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 6px;
}

.siparis-detay {
    display: flex;
    flex-direction: column;
}

.fiyat {
    color: orange;
    font-weight: bold;
}

.btn-orange {
    background-color: #ff6600;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.siparis-alt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background: #f1f1f
}

.fav-btn {
    position: absolute;
    top: 0;
    right: 0;
}