@{
    string mail = @HttpContextAccessor.HttpContext.Session.GetString("mail");

}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-black" href="~/">
            <img src="~/images/logo/logo.png" alt="Logo" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bilgisayar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-black" href="~/?category=2">Masaüstü Bilgisayar</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=3">Bilgisayar Kasası</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=4">Dizüstü Bilgisayar</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=5">Mouse</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=6">Klavye</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=7">Kulaklık</a></li>
                       
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Yazıcılar & Projeksiyon
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-black" href="~/?category=10">Yazıcılar</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=11">Sarf Malzemeleri</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=12">Projeksiyon Ekipanları</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        TV & Ses Sistemleri
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item text-black" href="~/?category=8">Televizyon</a></li>
                        <li><a class="dropdown-item text-black" href="~/?category=9">Hoparlör</a></li>
                    </ul>
                </li>
            </ul>

            <!-- Arama Kutusu ve Butonlar -->
            <div class="d-flex align-items-center">
                <form class="d-flex me-3 position-relative">
                    <input class="form-control rounded-pill shadow-sm ps-4 pe-5" type="search" placeholder="Ürün ara..." aria-label="Search">
                    <button class="btn position-absolute end-0 top-50 translate-middle-y me-2" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>

                <!-- Favori Butonu -->
                <a href="~/profile/favorilerim" class="btn btn-outline-secondary me-2" title="favoriler">
                    <i class="bi bi-heart"></i>
                </a>

                <div class="cart-container">
                     <a href="~/Cart" class="cart-icon btn btn-outline-secondary me-2" alt="Sepet" title="sepet">
                        <span class="cart-count" id="cart-item-count">
                            @ViewBag.cartItemsCount
                        </span>
                        <i class="bi bi-cart"></i>
                    </a>
                </div>
                <!-- Sepet Butonu -->
              
               

                <!-- Kullanıcı Butonu -->
                <a href="#" class="btn btn-outline-secondary" title="hesap" id="userIcon">
                    <i class="bi bi-person"></i>
                </a>

                @* @HttpContextAccessor.HttpContext.Session.GetString("user") *@


                <!-- Kullanıcı Kartı -->
                <div id="userCard" class="card position-absolute user-card shadow-sm">
                    <div class="card-body text-center">
                        @if (mail != null)
                        {

                            <div class="text-center mb-2 font-bold">
                                @mail
                            </div>

                            <div class="d-flex flex-column gap-2">
                                <a href="~/Account/Orders" class="d-flex align-items-center text-decoration-none text-dark">
                                    <i class="bi bi-box me-2"></i> Tüm Siparişlerim
                                </a>
                                <a href="~/Profile/Profile" class="d-flex align-items-center text-decoration-none text-dark">
                                    <i class="bi bi-person me-2"></i> Hesap Bilgilerim
                                </a>
                            </div>
                            <hr class="my-2">

                            <a href="/Logout" class="text-danger text-decoration-none d-block text-center fw-bold">
                                <i class="bi bi-box-arrow-right"></i> Çıkış Yap
                            </a>
                        }
                        else
                        {
                            <h5 class="card-title">Hoş Geldiniz</h5>
                            <p class="card-text">Lütfen giriş yapın veya üye olun.</p>
                            <a href="/Authorize/Login" class="btn btn-primary w-100 mb-2">Giriş Yap</a>
                            <a href="/Authorize/Register" class="btn btn-secondary w-100">Üye Ol</a>
                        }

                    </div>
                </div>





            </div>
        </div>
    </div>
</nav>