@model Product
<div class="card position-relative mb-4">
    <img src="@Model.Image" alt="" class="card-img-top" width="150px" height="150px">

    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price</p>
        <a href="#" class="btn btn-primary">Sepete ekle</a>

        <!-- Kalp butonu sağa kaydırıldı -->
        <button class="btn btn-light position-absolute end-0 me-2">
            ❤️
        </button>
    </div>
</div>

    